/* dit is de css voor de content op de homepagina */

*, *::after, *::before {
	box-sizing:border-box;  
  }

/* CUSTOM PROPERTIES */

:root {
	--color-background: #f6f6f6;
	--color-text: #656565;
	--color-lighter-text: #b4b4b4;
	--header-color: #1a50d7;
	--button-color: #1a50d7;
	--button-background: #1a50d7;
	--white: #f6f6f6;
	--black: black;
	--ticketmasterpurple: #9b44f6;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

/* DE STYLING */

/* MAIN */
  /* section met "madison beer" als h2 */

main>section:nth-of-type(1) {
	height: 60vw;
	background-image: url(../images/madisonbeer.jpg);
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;

	padding: 1.5em;
}


main>section:nth-of-type(1) h2 {
	color: var(--white);
	font-family: Montserrat;
	font-size: 1.5em;
}

main>section:nth-of-type(1) a {
	font-family: montserrat;
	background-color: var(--button-color);
	padding: 1em;
	text-decoration: none;
	color: var(--white); 
	border-radius: .5em;
}

main>section:nth-of-type(1) a:hover {
	background-color: var(--ticketmasterpurple);
}

	/* section met "uitgelicht" als h2 */

main>section:nth-of-type(2) {
	border-bottom: solid;
}

main>section:nth-of-type(2) h3 {
	color: var(--black);
	font-family: montserrat;
	margin-top: 0;
	margin-bottom: 1.5em;
}

main>section:nth-of-type(2) h4 {
	color: var(--color-lighter-text);
	font-family: montserrat;
	margin-top: 0.8em;
}

main>section:nth-of-type(2) a {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}

main>section:nth-of-type(2) li {
	list-style-type: none;
}

main>section:nth-of-type(2) h2 {
	display: none;
}

main>section:nth-of-type(2) img {
	width: 20em;
	height: 11em;
	border-radius: .5em;
}

main>section:nth-of-type(2) {
	border-bottom: 1px solid var(--color-lighter-text);
}

	/* section met "recent bekeken" als h2 */

main>section:nth-of-type(3) h2 {
	margin-top: 1.5em;
	font-family: Montserrat;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2em;
}

main>section:nth-of-type(3) h2::after {
	content:'';
	height:2px;
	width:20%;
	background:#f24432;
	position:absolute;
	left:calc(50% - 10%);
	bottom:-5px;
}

main>section:nth-of-type(3) li {
	list-style-type: none;
}

main>section:nth-of-type(3) ul {
	display: flex;
	gap: .5em;
	margin-bottom: 2em;
}

main>section:nth-of-type(3) a {
	text-decoration: none;
	color: var(--black);
	border: 0.1em solid var(--color-text);
	border-radius: 2em;
	border-color: var(--color-lighter-text);
	padding: .5em;
	display: flex;
	width: 14em;
}

main>section:nth-of-type(3) p {
	font-family: montserrat;
	font-size: 0.8em;
	margin-left: 1em;
}

main>section:nth-of-type(3) img:first-of-type {
	width: 2em;
	height: 2em;
	margin-top: .3em;
}

main>section:nth-of-type(3) img:nth-of-type(2) {
	width: 1em;
	height: 1em;
	margin-left: 1.5em;
	margin-top: .8em;
}

main>section:nth-of-type(3) {
	border-bottom: 1px solid var(--color-lighter-text);
}

	/* section met "populair" als h2 */

main>section:nth-of-type(4) h2 {
	margin-top: 1.5em;
	font-family: Montserrat;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
}

main>section:nth-of-type(4) h3 {
	color: var(--black);
	font-family: montserrat;
	margin-top: 0;
	margin-bottom: 1.5em;
}

main>section:nth-of-type(4) h4 {
	color: var(--color-lighter-text);
	font-family: montserrat;
	margin-top: 0.8em;
}

main>section:nth-of-type(4) li {
	list-style-type: none;
}

main>section:nth-of-type(3) ul {
	display: flex;
}

main>section:nth-of-type(4) a {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}

main>section:nth-of-type(4) img {
	width: 20em;
	height: 11em;
	border-radius: .5em;
}