/* dit is de css voor de content op de muziek pagina */

*, *::after, *::before {
	box-sizing:border-box;  
  }

/* CUSTOM PROPERTIES */

:root {
	--color-background: #f6f6f6;
	--color-text: #656565;
	--color-lighter-text: #b4b4b4;
	--header-color: #1a50d7;
	--button-color: #1a50d7;
	--button-background: #1a50d7;
	--white: #f6f6f6;
	--black: black;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

/* DE STYLING */

/* MAIN */
  /* section met "muziek" als h1 */

main>section:nth-of-type(1) {
	height: 30vw;
	background-image: url(../images/muziekbanner.jpg);
	/* bron: www.simkins.com/news/secondary-ticketing-safeguards-imposed-on-ticket-resellers-and-event-organisers  */
	background-size: cover;

	display: flex;
	flex-direction: column;
}

main>section:nth-of-type(1) h1 {
	color: var(--white);
	font-family: montserrat;
	margin-left: 1em;
}

main>section:nth-of-type(1) p {
	color: var(--white);
	font-family: montserrat;
	font-size: .8em;
	margin-left: 2em;
}

main>section:nth-of-type(1) a {
	text-decoration: none;
	color: var(--white);
}

	/* section met "populair bij muziek" als h2 */

main>section:nth-of-type(2) h3 {
	color: var(--black);
	font-family: montserrat;
	margin-top: 0;
	margin-bottom: 1.5em;
}

main>section:nth-of-type(2) h4 {
	color: var(--color-lighter-text);
	font-family: montserrat;
	margin-top: 0.8em;
}

main>section:nth-of-type(2) a {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}

main>section:nth-of-type(2) li {
	list-style-type: none;
}

main>section:nth-of-type(2) img {
	width: 20em;
	height: 11em;
	border-radius: .5em;
}

main>section:nth-of-type(2) {
	border-bottom: 1px solid var(--color-lighter-text);
}

	/* section met "uitgelicht" als h2 */

main>section:nth-of-type(3) h2 {
	margin-top: 1.5em;
	font-family: Montserrat;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2em;
}

main>section:nth-of-type(3) h3 {
	color: var(--black);
	font-family: montserrat;
	margin-top: 0;
	margin-bottom: 1.5em;
}

main>section:nth-of-type(3) a {
	text-decoration: none;
	display: flex;
	flex-direction: column-reverse;
}

main>section:nth-of-type(3) li {
	list-style-type: none;
}

main>section:nth-of-type(3) img {
	width: 20em;
	height: 11em;
	border-radius: .5em;
	margin-bottom: 1em;
}

main>section:nth-of-type(3) {
	border-bottom: 1px solid var(--color-lighter-text);
}

	/* section met "subcategorieën" als h2 */

main>section:nth-of-type(4) h2 {
	margin-top: 1.5em;
	font-family: Montserrat;
	color: var(--black);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2em;
}

main>section:nth-of-type(4) li {
	list-style-type: none;
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}

main>section:nth-of-type(4) a {
	text-decoration: none;
	font-family: montserrat;
	color: var(--black);
	border-bottom: 1px solid var(--color-lighter-text);
}

main>section:nth-of-type(4) button {
	margin-right: 1.5em;
	border: none;
	color: var(--button-color);
	font-size: 1.5em;
	background-color: var(--color-background);
}

/* DARK MODE */ 

@media (prefers-color-scheme:dark) {
	:root {
		--color-background-dark: #272727; 
		--color-text-dark: #f6f6f6;
		--color-lighter-text-dark: #ebebeb;
	}

	/* section met "populair bij muziek" als h2 */ 

main>section:nth-of-type(2) h3 {
	color: var(--color-text-dark);
}
	
main>section:nth-of-type(2) h4 {
	color: var(--color-lighter-text-dark);
}

	/* section met "uitgelicht" als h2 */ 

main>section:nth-of-type(3) h2 {
	color: var(--color-text-dark);
}
	
main>section:nth-of-type(3) h3 {
	color: var(--color-lighter-text-dark);
}

	/* section met "subcategorieën" als h2 */ 

main>section:nth-of-type(4) h2 {
	color: var(--color-text-dark);
}
	
main>section:nth-of-type(4) a {
	color: var(--color-text-dark);
}
	
main>section:nth-of-type(4) button {
	color: var(--button-color);
	background-color: var(--color-background-dark);
}

}