/* dit is de css voor de algemene styling op elke pagina */

*, *::after, *::before {
   box-sizing:border-box;  
}

/* CUSTOM PROPERTIES */

:root {
	--color-background: #f6f6f6;
	--color-text: #656565;
	--color-lighter-text: #b4b4b4;
	--header-color: #1a50d7;
	--button-color: #1a50d7;
	--button-background: #1a50d7;
	--white: #f6f6f6;
	--black: black;
}

/* DE STYLING */

body {
	margin: 0;
	background-color:var(--color-background);
	color:var(--color-text);
}

/* HEADER */

header {
	display: flex;
	flex-wrap: wrap;
	padding:0 1em;
  	background-color:var(--header-color);
	display: flex;
	align-items: center;
}

header a img {
	height: 2.5em;
	width: 10em;
}

header a {
	padding:.5em 0;
  	color:var(--color-background);
  	text-decoration:none;
}

header li {
	list-style-type: none;
}

header button {
	appearance:none;
  	background-color:var(--button-background);
  	border:none;
  	border-radius:.25em; 
  	text-align:center;
  	color:var(--button-color);
}

header button img {
	height: 2em;
}


header > button {
	order: -1;
}

nav button {
	justify-self:start;
   }

/* het menu */

nav h2 {
	font-family: montserrat;
	font-size: 1.2em;
	color: var(--black);
}

nav {
	padding:1em;
  
  	display:grid;
 	align-content:start;
  	gap:1em;
  
  	background-color:var(--color-background);

	position: fixed; 
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	translate: -100%;
	transition: .1s;
}

nav.open {
	translate: 0;
	transition: .5s;
}

nav ul {
	margin:0; 
  	padding:0em;
  	list-style:none;
}

nav a {
	font-family: montserrat;
	color: var(--black);
	margin: 1em;
	display:flex;
	align-items:center;
	column-gap:.25em;
  }

nav button {
	padding: 0.5em;
  }

/* de zoekbalk */

header input[type="search"] {
	display: block;
	border-color: var(--white);
	background-color: var(--header-color);
	color: var(--white);
	margin-bottom: 1em;
}

header input {
	background-color: var(--header-color);
	color: var(--black);

	min-height: 3em;
	padding: 0 1em;
	border-color: var(--color-background);
	border-radius: .5em;
	border-style: solid;

	outline: none;
	appearance: none;
	width: 100%;
}

header label {
	width: 100%;
}

input::placeholder {
	color: var(--white);
	font-family: Montserrat;
}

header input:focus {
	background-color: var(--color-background);
	caret-color: var(--black);
}

header input:focus::placeholder {
	color: var(--color-text);
	background-color: var(--white);
}

/* FOOTER */

footer {
	background-color: var(--black);
	color: var(--color-background);
	padding-top: 1em;
	padding-bottom: 1em;
}

footer>img:nth-of-type(1) {
	height: 1.5em;
	width: 10em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
}

footer>img:nth-of-type(2) {
	margin-left: 1em;
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

footer>img:nth-of-type(3) {
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

footer>img:nth-of-type(4) {
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

footer>img:nth-of-type(5) {
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

footer>img:nth-of-type(6) {
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

footer>img:nth-of-type(7) {
	margin-right: .5em;
	height: 2em;
	width: 2em;
}

/* Download onze apps */

footer a img {
	width: 114px;
	height: 40px;
	margin-left: 1em;
	margin-bottom: 2em;
}

footer>p:nth-of-type(2) {
	margin-top: 2em;
}

/* Details */

footer>details>a {
	display: flex;
	font-family: montserrat;
	color: var(--color-background);
	text-decoration: none;
	margin: 1em;
} 

footer summary {
	margin: 0.8em;
}

/*  verder */

footer p {
	padding-left: 1em;
	font-family: Montserrat;
}

footer a:nth-of-type(1) {
	color: var(--white);
}

footer details {
	padding-left: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid var(--color-lighter-text);
}

footer summary {
	font-family: Montserrat;
	font-weight: bold;
}

/* Ons netwerk */

footer>section>img:nth-of-type(1) {
	width: 6.5em;;
	height: 2em;
	margin-bottom: 2em;
}

footer>section>img:nth-of-type(2) {
	width: 6.7em;
	height: 2em;
	margin-bottom: 2em;
}

footer>section p:nth-of-type(1) {
	padding-top: 3em;
}

footer>section:nth-of-type(1) {
	border-bottom: 1px solid var(--color-lighter-text);
}

/* Cookies & Copyright etc. */

footer>section:nth-of-type(2) p {
	font-size: .75em;
	display: flex;
	justify-content: center;
}

footer>section:nth-of-type(2) p:nth-of-type(4) {
	margin-top: 3em;
}

/* Dark mode */ 

@media (prefers-color-scheme:dark) {
	:root {
		--color-background-dark: #272727; 
		--color-text-dark: #f6f6f6;
}

body {
	background-color: var(--color-background-dark);
}

nav h2 {
	color: var(--color-text-dark);
}

nav {
  	background-color:var(--color-background-dark);
}

nav a {
	color: var(--color-text-dark);
  }

}




